<!-- TODO: remove loggedusers -->

<html>
<head>
	<title>
		ArchersGuild Login Page 
	</title>
	<link rel = "stylesheet" type = "text/css" href = "../css/index.css">
    <link rel = "stylesheet" type = "text/css" href = "../css/login-page.css">
    <!-- <script src = "../loggeduser-disp.js"></script> -->
    <script src = "../js/login.js" type="text/javascript"></script>
</head>
<body>
	<div class = "main-container">
		<div class = "menu-bar">
		<ul class = "menu-actions">
			<li class = "forum-logo"></li>
		</ul>
		<ul class = "menu-actions">
			<ul class = "menu-actions">
				<li><a href = "/signup"><button type="button" class="register-button">Register</button></a></li>
				<li><a href = "/login"><button class="login-button">Login</button></a></li>
			</ul>
			<li><img class = "user-icon" src="/images/user-icon.png"/></li>
		</ul>
	    </div>

        <div class = "login-container">
            <form action = "/login" method = "POST">
            <div class = "login-header">
                <div class = "redirect-sign-up">
                    <a href = "/signup" class = "sign-up-here">New user? Sign up here.</a>
                </div>
                <div class = "welcome-msg">
                    <span class = "welcome1">Welcome to ArchersGuild!</span><br>
                    <span class = "welcome2">Please log-in to continue.</span>
                </div>
            </div>
            <div class = "req-forms">
                <div class = "form-field">
                    <img class = "login-user-icon" src="/images/user-icon.png"/>
                    <div class = "form-label"><span class = "user-pw-text">Username</span></div>
                    <input type="text" id="username" name="username">
                </div>
                <div class = "form-field">
                    <img class = "login-pw-icon" src="/images/pw-icon.png"/>
                    <div class = "form-label"><span class = "user-pw-text">Password</span></div>
                    <input type="password" id="pwd" name="pwd">
                </div>
            </div>
            <div class = "login-footer">
                <button type = "submit" class="login-main-button" id = "confirm-login-btn">Log-in</button>
            </div>
            </form>
        </div>
        <!-- SUCCESS OR ERROR MESSAGES -->
        {{#if error_msg}}
        <div class = "error_msg">
            {{error_msg}}
        </div>
        {{/if}}

        {{#if success_msg}}
        <div class = "success_msg">
            <h6>{{success_msg}}</h6>
        </div>
        {{/if}}
	</div>

</body>
</html>