<html>
<head>
	<title>
		ArchersGuild Sign-Up Page 
	</title>
	<link rel = "stylesheet" type = "text/css" href = "../css/index.css">
    <link rel = "stylesheet" type = "text/css" href = "../css/signup-page.css">
    <script src = "../signup-validation.js"></script>
</head>
<body>
	<div class = "main-container">
		<div class = "menu-bar">
		<ul class = "menu-actions">
			<li class = "forum-logo"></li>
		</ul>
		<ul class = "menu-actions">
			<ul class = "menu-actions">
				<li><a href = "/signup"><button type="button" class="register-button">Register</button></a></li>
				<li><a href = "/login"><button class="login-button">Login</button></a></li>
			</ul>
			<li><img class = "user-icon" src="/images/user-icon.png"/></li>
		</ul>
	    </div>

        <div class = "signup-container">
            <div class = "signup-header">
                <div class = "redirect-sign-up">
                    <a href = "/login" class = "login-here">Already registered? Log in here.</a>
                </div>
                <div class = "welcome-msg">
                    <span class = "welcome1">Welcome to ArchersGuild!</span><br>
                    <span class = "welcome2">Please sign up to continue.</span>
                </div>
                
            </div>
            
            <div>
                <form class = "req-forms" action = "/signup" method = "POST">
                <div class = "form-field">
                    <img class = "signup-user-icon" src="/images/user-icon.png"/>
                    <div class = "form-label"><span class = "user-prompt-text">Username</span></div>
                    <input type="text" id="username" name="username">
                </div>
                <div class = "form-field">
                    <img class = "signup-user-icon" src="/images/user-icon.png"/>
                    <div class = "form-label"><span class = "user-prompt-text">Name</span></div>
                    <input type="text" id="name" name="name">
                </div>
               <div class = "form-field">
                    <img class = "signup-email-icon" src="/images/email-icon.png"/>
                    <div class = "form-label"><span class = "email-prompt-text">Email</span></div>
                    <input type="text" id="email" name="email" class = "email-textfield">
                </div>
                <div class = "form-field">
                    <img class = "signup-pw-icon" src="/images/pw-icon.png"/>
                    <div class = "form-label"><span class = "pw-prompt-text">Password</span></div>
                    <input type="password" id="pwd1" name="pwd1">
                </div>
                <div class = "form-field">
                    <img class = "signup-pw-icon" src="/images/pw-icon.png"/>
                    <div class = "form-label"><span class = "confirmpw-prompt-text">Confirm Password</span></div>
                    <input type="password" id="pwd2" name="pwd2">
                </div>
                
                <div class = "signup-footer">   
                    <button type="submit" class="signup-main-button" id = "confirm-signup-btn">Sign Up</button>
                </div>  

                </form>
            </div>
        </div>
        <!-- SUCCESS OR ERROR MESSAGES -->
        {{#if error_msg}}
        <div class = "error_msg">
            {{error_msg}}
        </div>
        {{/if}}

        {{#if success_msg}}
        <div class = "success_msg">
            <h6>{{success_msg}}</h6>
        </div>
        {{/if}}
	</div>
</body>
</html>